body {
    margin: 0px;
    padding: 0px;
    border: 0px;
}
#container{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 140vh;
    font-family: 'IBM Plex Sans', sans-serif;
    background-color: rgb(240, 240, 240);
}
#welcomeHomeContainer{
    margin-top: 150px;
    width: 100%;
    height: 750px;
    padding-bottom: 25px;
    background-image: url("https://images.unsplash.com/photo-1588296172789-310b25f53891?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");
    background-size: stretch;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
#containerHomeInner{
    text-align: justify;
    font-weight: bold;
    color: crimson;
    font-size: 18px;
    background-color: rgba(255, 255, 255, 0.753);
    border: 2px solid crimson;
    border-radius: .25rem;
    padding: 50px;
    margin:50px 20px 0px 20px;
}
#updateContainer{
    display: flex;
    justify-content: center;
}
#updateContainer > fieldset {
    border: dashed crimson 2px;
}