/* GOOGLE FONT OPTIONS */
/* font-family: 'Geostar', cursive; */
/* font-family: 'IBM Plex Sans', sans-serif; */
/* font-family: 'Monofett', cursive; */
/* font-family: 'Plaster', cursive; */
* {
    scroll-behavior: smooth;
}
body {
    margin: 0px;
    border: 0px;
    padding: 0px;
    width: 100%;
}
nav {
    width: 100%;
    height: 30px;
    background-color: white;
    position: fixed;
    border-bottom: 2px solid rgba(0, 0, 0, 0.5);
    padding-top: 10px;
    padding-bottom: 10px;
    color: crimson;
    font-family: 'Plaster', cursive;
    text-shadow: 1.5px 1.5px rgba(36, 36, 36, 0.507);
    font-size: 20px;
    display: flex;
    justify-content: space-around;
}
#navDivTitle {
    display: flex;
    justify-content: space-between;
}
#container {
    width: 100%;
    background-color: #f1f1f2;
    font-family: 'IBM Plex Sans', sans-serif;
}
#navDisplayContainer {
    background-color: black;
    position: absolute;
    width: 100%;
    height: 120%;
    z-index: 1;
    display: none;
    opacity: 90%;
    transition: .5s;
}
#navDisplayInner {
    display: flex;
    justify-content: center;
}
#navDisplayInner > div {
    text-align: center;
    padding-top: 150px;
}
.navBtn {
    margin: 5px;
}
#returnBtn {
    background-color: crimson;
}
#welcomeDiv {
    padding-top: 225px;
    text-align: center;
    background-color: #f1f1f2;
    height: 100vh;
}
#titleDivInner{
    background-color: white;
    border-radius: .25rem;
    box-shadow: 1.5px 1.5px rgba(36, 36, 36, 0.507);
    padding: 5px;
    margin-bottom: 50px;
    width: 300px;
    height: 400px;
    color: #1a73e8;
}
#ricoTitle {
    background-color: crimson;
    color: white;
    font-family: 'Plaster', cursive;
    text-shadow: 1.5px 1.5px rgba(36, 36, 36, 0.507);
    box-shadow: 1.5px 1.5px rgba(36, 36, 36, 0.507);
    border-radius: .15rem;
}
#titleDiv {
    display: flex;
    justify-content: center;
}
#brandImgTitle{
    width: 225px;
    height: 225px;
}
.titleBtn{
    background-color: #1a73e8;
    color: white;
    margin: 5px;
}
.innerDisplayDiv > fieldset {
    color: #1a73e8;
    border-color: #1a73e8;
    border-radius: .25rem;
    background-color: #f1f1f2;
    margin: 5px;
}
button {
    border: none;
    border-radius: .25rem;
    background-color: #1a73e8;
    color: white;
    box-shadow: 1.5px 1.5px rgba(36, 36, 36, 0.507);
    outline: none;
    width: 150px;
    height: 30px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: bold;
}
button:active {
    transform: scale(.95);
}
.topBtn {
    background-color: #1a73e8;
    color: white;
}
#displayContainer{
    width: 100%;
}
#displayList{
    text-align: left;
}
.innerDisplayDiv {
    background-color: white;
    border-radius: .25rem;
    box-shadow: 1.5px 1.5px rgba(36, 36, 36, 0.507);
    font-size: 20px;
    padding: 20px;
}
.innerDisplayDiv > h2 {
    color: #1a73e8;
}
#gettingStartedContainer {
    padding: 60px 10px 10px 10px;
}
#gettingStartedDiv{
    display: none;
    background-color: #f1f1f2;
    width: 100%;
}
#beenHereBeforeContainer {
    padding: 20px;
    margin-bottom: 300px;
}
#beenHereBeforeDiv {
    display: none;
    background-color: #f1f1f2;
    width: 100%;
}
#logOutDiv {
    text-align: center;
    background-color: white;
    color: crimson;
    height: 30px;
    width: 100%;
    bottom: 0%;
    border-top: .5px solid rgba(0, 0, 0, 0.3);
    text-shadow: 1.5px 1.5px rgba(36, 36, 36, 0.507);
    font-family: 'Plaster', cursive;
}