/* GOOGLE FONT OPTIONS */
/* font-family: 'Geostar', cursive; */
/* font-family: 'IBM Plex Sans', sans-serif; */
/* font-family: 'Monofett', cursive; */
/* font-family: 'Plaster', cursive; */
* {
    scroll-behavior: smooth;
}
body {
    margin: 0px;
    border: 0px;
    padding: 0px;
    width: 100%;
}
#container {
    width: 100%;
    background-color: #f1f1f2;
    font-family: 'IBM Plex Sans', sans-serif;
}
#returnBtn {
    background-color: crimson;
}
#welcomeDiv {
    padding-top: 225px;
    text-align: center;
    background-color: #f1f1f2;
    height: 100vh;
}
#titleDivInner{
    background-color: white;
    border-radius: .25rem;
    box-shadow: 1.5px 1.5px rgba(36, 36, 36, 0.507);
    padding: 5px;
    margin-bottom: 50px;
    width: 300px;
    height: 400px;
    color: #1a73e8;
}
#ricoTitle {
    background-color: crimson;
    color: white;
    font-family: 'Plaster', cursive;
    text-shadow: 1.5px 1.5px rgba(36, 36, 36, 0.507);
    box-shadow: 1.5px 1.5px rgba(36, 36, 36, 0.507);
    border-radius: .15rem;
}
#titleDiv {
    display: flex;
    justify-content: center;
}
#brandImgTitle{
    width: 225px;
    height: 225px;
}
.titleBtn{
    background-color: #1a73e8;
    color: white;
    margin: 5px;
}
.innerDisplayDiv > fieldset {
    color: #1a73e8;
    border-color: #1a73e8;
    border-radius: .25rem;
    background-color: #f1f1f2;
    margin: 5px;
}
.topBtn {
    background-color: #1a73e8;
    color: white;
}
#displayContainer{
    width: 100%;
}
#displayList{
    text-align: left;
}
.innerDisplayDiv {
    background-color: white;
    border-radius: .25rem;
    box-shadow: 1.5px 1.5px rgba(36, 36, 36, 0.507);
    font-size: 20px;
    padding: 20px;
}
.innerDisplayDiv > h2 {
    color: #1a73e8;
}
#gettingStartedContainer {
    padding: 60px 10px 10px 10px;
}
#gettingStartedDiv{
    display: none;
    background-color: #f1f1f2;
    width: 100%;
}
#beenHereBeforeContainer {
    padding: 20px;
    margin-bottom: 300px;
}
#beenHereBeforeDiv {
    display: none;
    background-color: #f1f1f2;
    width: 100%;
}
