nav {
    width: 100%;
    height: 30px;
    background-color: rgb(255, 255, 255);
    position: fixed;
    top: 0%;
    border-bottom: .5px solid rgba(0, 0, 0, 0.5);
    padding-top: 10px;
    padding-bottom: 10px;
    color: crimson;
    font-family: 'Plaster', cursive;
    text-shadow: 1.5px 1.5px rgba(36, 36, 36, 0.507);
    font-size: 20px;
    display: flex;
    justify-content: space-around;
}
#navDivTitle {
    display: flex;
    justify-content: space-between;
}
#navDisplayContainer {
    background-color: black;
    position: absolute;
    width: 100%;
    height: 120%;
    z-index: 1;
    display: none;
    opacity: 90%;
    transition: .5s;
}
#navDisplayInner {
    display: flex;
    justify-content: center;
}
#navDisplayInner > div {
    text-align: center;
    padding-top: 150px;
}
.navBtn {
    margin: 5px;
}
#returnBtn {
    background-color: crimson;
}
nav > div > button {
    background-color: rgb(66, 63, 63);
    color: white;
}
button {
    border: none;
    border-radius: .25rem;
    background-color: rgb(66, 63, 63);
    color: white;
    box-shadow: 1.5px 1.5px rgba(36, 36, 36, 0.507);
    outline: none;
    width: 150px;
    height: 30px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: bold;
}
button:hover {
    transform: scale(1.03);
}
button:active {
    transform: scale(.95);
}